html {
  background-color: black;
}

.bigtext {
  text-align: center;
  font-family: Verdana;
  color: white;
  font-weight: 200;
  font-size: 50px;
}

.grey {
  text-align: center;
  font-family: Verdana;
  color: gray;
  font-weight: 200;
  font-size: 20px;
}

.link {
  text-align: center;
  font-family: Verdana;
  font-weight: 200;
  font-size: 16px;
}

a {
  color: aquamarine;
}

.video {
  text-align: center;
}

h2 {
  color: gray;
  text-align: right;
  font-weight: 200;
  font-family: Verdana;
}
